{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change your password</title>
    <link rel="icon" href="{% static 'images/squiggleICON.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">

</head>
<body>
    <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
         <p>
            <input type="submit" value="Change">
        </p>
    </form>
</body>
</html>