{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset your password</title>
    <link rel="icon" href="{% static 'images/squiggleICON.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">

</head>
<body>
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Send e-mail"></p>
    </form>
</body>
</html>