{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>squiggleWEAR!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="squiggle/templates/static/css/index.css">
    <link rel="icon" href="{% static 'images/squiggleICON.png' %}">
</head>

<body>
{% load socialaccount %}

<section class="container">

    <div class="toolbar" id="toolbar">
        <!--<img src=”squiggle/templates/static/images/squiggleHERO5.png”>-->
        <h1 id="branding">squiggleWEAR</h1>
        <!--<button id="my-gallery" onclick="location.href=''">My Gallery</button>-->
        <button id="brush">Brush: S</button>
        <label for="colorPicker"></label><input id="colorPicker" type="color" style="display: none;">
        <button id="color">Color</button>
        <button id="backgroundColor">Background Color</button>

       <!-- <button id="text">Text</button>-->
        <button id="clear">Clear</button>
        <button id="save">Save</button>
        <button id="load" onclick="location.href='{% url 'gallery' %}'">My Gallery</button>
        <button id="print">Print Shirt</button>
        <button id="login" onclick="location.href='{% url 'login' %}'">Login</button>
        <button id="about" onclick="location.href='{% url 'about' %}'">About</button>

        <h2>Google Login</h2>
    <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>
        {% if user.is_authenticated %}
             <p>You are signed in as {{ user.email }}</p>
            <a href ="logout">Logout</a>
        {% endif %}
            <img src="squiggle/templates/static/images/squiggleHERO8.png">
    </div>


    <div>
        <canvas id="drawing-board"></canvas>
    </div>




</section>


<footer>
    <!-- Add footer content if needed -->
</footer>

<form>
  {% csrf_token %}
  <!-- other form fields -->
</form>

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<!---script type="text/javascript" src="{% static 'js/load_drawings.js' %}"></script--->
<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
</body>
</html>