{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>squiggleWEAR!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="squiggle/templates/static/css/index.css">
    <link rel="icon" href="{% static 'images/squiggleICON.png' %}">
</head>

<body>
{% load socialaccount %}

<section class="container">

    <div class="toolbar" id="toolbar">
        <!--<img src=”squiggle/templates/static/images/squiggleHERO5.png”>-->
        <h1 id="branding">squiggleWEAR</h1>
        <button id="my-gallery" onclick="location.href='{% url 'gallery' %}'">My Gallery</button>
        <button id="brush">Brush: S</button>
        <label for="colorPicker"></label><input id="colorPicker" type="color" style="display: none;">
        <button id="color">Color</button>
        <button id="backgroundColor">Background Color</button>

       <!-- <button id="text">Text</button>-->
        <button id="clear">Clear</button>
        <form id="save-form" method="POST" action="{% url 'save_canvas' %}">
            {% csrf_token %}
            <input type="hidden" id="drawing-data" name="drawing_data">
            <button type="submit">Save</button>
        </form>
        <button id="load" onclick="location.href='{% url 'load_drawings' %}'" >Download</button>
        <button id="print">Print Shirt</button>
        <button id="login" onclick="location.href='{% url 'login' %}'">Login</button>
        <button id="about" onclick="location.href='{% url 'about' %}'">About</button>

        <h2>Google Login</h2>
    <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>
        {% if user.is_authenticated %}
             <p>You are signed in as {{ user.email }}</p>
            <a href ="logout">Logout</a>
        {% endif %}
            <img src="squiggle/templates/static/images/squiggleHERO8.png">
    </div>


    <div>
        <canvas id="drawing-board"></canvas>
    </div>

    <div id="success-message" style="display: none;">
        Drawing saved successfully!
    </div>

    <div id="error-message" style="display: none;">
        Failed to save drawing.
    </div>
    <script>
    document.getElementById('save-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Overrides the default behavior of the form

        // Gets the picture data in Data URL format
        const drawingData = canvas.toDataURL();

        // Sets the picture data to a hidden form field
        document.getElementById('drawing-data').value = drawingData;

        // Submits the form to the server
        fetch('{% url 'save_canvas' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: new URLSearchParams(new FormData(event.target))
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('success-message').style.display = 'block';

            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('error-message').style.display = 'block';

            });
    });
    </script>
    <script>

    document.getElementById('backgroundColor').addEventListener('click', function() {

        fetch('https://www.thecolorapi.com/random')
            .then(response => response.json())
            .then(data => {
                const backgroundColor = data.hex.value;
                document.body.style.backgroundColor = backgroundColor;
            })
            .catch(error => {
                console.log('Error:', error);
            });
    });
    </script>


</section>


<footer>
    <!-- Add footer content if needed -->
</footer>

<form>
  {% csrf_token %}
  <!-- other form fields -->
</form>

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
</body>
</html>