{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="icon" href="static/images/squiggleICON.png">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Login</h2>
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Login"></p>
            </form>
        </div>
    </div>
</body>
</html>