{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
        <link rel="icon" href="{% static 'images/squiggleICON.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Welcome {{ new_user.first_name }}!</h1>
            <p>
                Your account has been successfully created.
                Now you can <a href="{% url "login" %}">log in</a>.
            </p>
        </div>
    </div>
</body>
</html>