{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SQUIGGLEWEAR!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/squiggle/templates/static/css/index.css">
</head>

<body>


        <section class="container">

        <div class="toolbar" id="toolbar">

            <button id="brush">Brush Size</button>

            <label for="colorPicker"></label><input id="colorPicker" type="color" style="display: none;">
            <button id="color">Pick a Color</button>


            <button id="text">Add Text</button>

            <button id="clear">Clear Canvas</button>

            <button id="save">Save Image</button>

            <button id="load">Load Image</button>

            <button id="login">Sign In</button>




        </div>
            <div>
            <canvas id="drawing-board"></canvas>
            </div>

        </section>


    <footer>
    <!-- Add footer content if needed -->
    </footer>



<script type="text/javascript" src="{%static 'js/index.js' %}"></script>
</body>
</html>