{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/design.css">

</head>

<body>


        <section class="container">



        <div class="toolbar" id="toolbar">

            <div><label for="stroke">Stroke</label>
                <input id="stroke" name='stroke' type="color"></div>

            <div><label for="lineWidth">Line Width</label>
                 </div>
            <input id="lineWidth" name='lineWidth' type="number" value="5" min="1" max="100" style="display:none;">
            <button id="brush">Brush Size</button>

            <label for="colorPicker"></label><input id="colorPicker" type="color" style="display: none;">
            <button id="color">Pick a Color</button>


            <button id="text">Add Text</button>

            <button id="clear">Clear Canvas</button>

            <button id="save">Save Image</button>

            <button id="load">Load Image</button>

            <button id="login">Sign In</button>




        </div>
            <div>
            <canvas id="drawing-board"></canvas>
            </div>

        </section>


    <footer>
    <!-- Add footer content if needed -->
    </footer>



<script type="text/javascript" src="{%static 'js/design.js' %}"></script>
</body>
</html>